<div class="row wrapper border-bottom white-bg page-heading migas">
  <div class="col-lg-10">
      <h2 *ngIf="label">{{ label }}</h2>
      <ol class="breadcrumb" *ngIf="rutas">
          <li class="breadcrumb-item active">
              <a href="index-2.html">{{ rutas[0] }}</a>
          </li>
          <li class="breadcrumb-item active">
            <a href="index-2.html">{{ rutas[1] }}</a>
        </li>
          <li class="breadcrumb-item active">
              <strong>{{ label }}</strong>
          </li>
      </ol>
  </div>
</div>