<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Tabla de productos</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li><a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped tabla_general" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th class="th14">Código</th>
                                <th class="th13">Marca</th>
                                <th class="th12">Imagen</th>
                                <th class="th27">Descripción</th>
                                <th class="th8">Existencia</th>
                                <th class="th13">Grupo</th>
                                <th style="text-align: center" class="th13">Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of productos">
                                <!-- <td class="id_t_art">2</td> -->
                                <td class="codigo_t_art th14">
                                    <div class="opciones_c_t_a funciones" id="delete_prod-2">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                    <div class="id_t_art">
                                        #{{producto.id}}
                                    </div>
                                    <div class="text_cod_art">
                                        {{producto.codigo}} </div>
                                </td>

                                <td class="marca_t_art th12">
                                    <select id="marca_slc-2" name="marca_slc" class="slc_100 marca_slc" [(ngModel)]="producto.marca_id" (change)="actualizarProducto(producto, 'Marca')" [ngClass]="producto.marca_id > 0 ? 'condato' : ''">
                                        <option value="0">Sin marca</option>
                                        <option value="2">BIMBO</option>
                                        <option value="4">GLORIA</option>
                                        <option value="3">PLUMROSE</option>
                                        <option value="1">ZULIA</option>
                                    </select>
                                </td>
                                <td class="imagen_t_art th11">
                                    <div id="imagen2">
                                        <label style="cursor: pointer; position: relative;">
                                            <img [src]="producto.imagen | imagen:'producto'" alt="" height="50px;">
                                            <br>
                                            <input type="file" name="imagenSubir" (change)="subirImagen($event, producto)" style="display: none">
                                        </label><br>
                                    </div>
                                </td>
                                <td class="descr_t_art th30">
                                    <div>
                                        <div id="nombre_prod-2" contenteditable="true" [textContent]="producto.descripcion" (blur)="verificarCambio( producto, $event.target.textContent, 'descripcion', 'Descripción')" class="titulo_t_art ch_dv_nt">{{producto.descripcion}}
                                        </div>
                                        <div class="pres_t_art span_t_art">
                                            PRESENTACIÓN:
                                        </div>

                                            <div class="pres_t_art dato_t_art ch_dv_nt" id="pres_prod-2" contenteditable="true" [textContent]="producto.presentacion" (blur)="verificarCambio( producto, $event.target.textContent, 'presentacion', 'Presentación' )">
                                                {{producto.presentacion}}
                                            </div>
                                            <select class="pres_t_art dato_t_art slc_t_art" id="-2" (change)="actualizarProducto(producto, 'Tipo de unidad')" [(ngModel)]="producto.unidad_id">
                                                <option *ngFor="let unidad of unidades " value={{unidad.id}}>{{ unidad.acro_sg }}</option>
                                            </select>
                                       
                                    </div>
                                    <div class="exhibid_dv">
                                    </div>
                                </td>

                                <td class="exis_t_art th8">
                                    0 unds.<br> </td>
                                <!-- <td></td> -->
                                <!-- <td></td> -->
                                <td class="grupo_t_art th13">
                                    <select id="grupo_slc-2" name="grupo_slc" class="slc_100 grupo_slc" [(ngModel)]="producto.grupo_id" (change)="actualizarProducto(producto, 'Grupo')" [ngClass]="producto.grupo_id > 0 ? 'condato' : ''">
                                        <option value="0">Sin Grupo</option>
                                        <option value="4">CAFÉ Y ESPECIALIDADES</option>
                                        <option value="10">CARNICERÍA</option>
                                        <option value="9">CHARCUTERÍA</option>
                                        <option value="8">CONSUMIBLES</option>
                                        <option value="11">DESAYUNOS</option>
                                        <option value="2">LICORES</option>
                                        <option value="5">PIZZAS Y EXTRAS</option>
                                        <option value="3">PLATOS</option>
                                        <option value="7">POSTRES</option>
                                        <option value="6">SANDWICHES Y HAMBURGUESAS</option>
                                        <option value="1">SUPERMERCADO</option>
                                    </select>
                                </td>
                                <td class="precio_t_art th12" id="td_precio-2">
                                    <input type="hidden" name="input_precio-2">
                                    {{producto.precio1 | number:'1.2'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button (click)="cargarProductos(paginaAnterior)"  >Anterior</button>
                    <button (click)="cargarProductos(paginaSiguiente)" >Siguiente</button> 
                </div>
            </div>
        </div>
    </div>